.sweets__container{
  
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
  margin-top: 10px;
  background: $color1;
  

 }

 .sweets_screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

   input{
    width: 330px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    border: 3px solid #B2B2B2;
   }

   input:hover{
    background: #BCEAD5;
   }
 }

