.home__text{
    height: 600px;
    background: white;
   
    font-size: 60px;
    font-family: $font1;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #73777B;
}

