.header{
    height: 240px;
    background: $color1;
    position: relative;
   
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
 
   h1{
    color: white;
    font-family: $font1;
    font-weight: bold;
   }
}